.logo-p5 {
  display: flex;
  align-items: center;
  font-size: 2.3em;
  font-family: Bebas Neue, Impact, Arial Black, sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 30px;
}
.logo-red {
  color: #ef2f23;
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 #000;
  margin-right: 2px;
}
.logo-white {
  color: #fff;
  text-shadow: 2px 2px 0 #ef2f23, 4px 4px 0 #000;
}
